.controller.custom {
  background: url(https://github.com/LtPeriwinkle/gpv-switch-pro/blob/master/assets/switch_gpv.png);
  height: 352px;
  width: 517px;
}

.custom.disconnected {
  background: url(https://github.com/LtPeriwinkle/gpv-switch-pro/blob/master/assets/switch_gpv.png);
}

.custom.disconnected div {
    display: none;
}

.custom.triggers {
  width: 260px;
  height: 49px;
  position: absolute;
  left: 129px;
  top: 2px;
}

.custom.trigger {
  width: 115px;
  height: 48px;
  background: url(https://github.com/LtPeriwinkle/gpv-switch-pro/blob/master/assets/trigger.png);
  opacity: 0;
}

.custom.trigger.right {
  float: right;
}

.custom.trigger.left {
  float: left;
}

.custom.trigger.pressed {
  opacity: 1;
}

.custom.bumpers {
  width: 516px;
  height: 49px;
  position: absolute;
  left: 1px;
  top: 2px;
}

.custom.bumper {
  width 115px;
  height 48px;
  background: url(https://github.com/LtPeriwinkle/gpv-switch-pro/blob/master/assets/bumper.png);
  opacity: 0;
}

.custom.bumper.left {
  float: left;
}

.custom.bumper.right {
  float: right;
}

.custom.bumper.pressed {
  opacity: 1;
}

.custom.arrows{
  position: absolute;
  width: 200px;
  height: 30px;
  top: 72px;
  left: 152px;
}

.custom.back, .custom.start {
  background: url(https://github.com/LtPeriwinkle/gpv-switch-pro/blob/master/assets/start_select.png);
  width: 30px;
  height: 30px;
  opacity: 0;
}

.custom.back.pressed, .custom.start.pressed {
    opacity: 1;
}

.custom.back {
  float: left;
}

.custom.start {
  float: right;
}

.custom.abxy {
  position: absolute;
  width: 159px;
  height: 145px;
  left: 354px;
  top: 61px;
  opacity: 0;
}

.custom.button {
  width: 53px;
  height: 52px;
  background: url(https://github.com/LtPeriwinkle/gpv-switch-pro/blob/master/assets/abxy.png);
  opacity: 0;
}

.custom.button.pressed {
  opacity: 1;
}

.custom.y {
  top: 1px;
  left: 53px;
}

.custom.x {
  top: 46px;
  left: 0px;
}

.custom.b {
  top: 46px;
  left: 106px;
}

.custom.a {
  left: 53px;
  top: 92px;
}


.custom.quadrant {

}
.custom .p0{

}
.custom .p1{

}
.custom .p2{

}
.custom .p3{

}
